body {
  padding: 0px 50px;
  margin: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
  padding: 0;
  margin: 0;
}
#header {
  height: 44px;
}
#header #title, #header #address {
  padding: 5px 0px;
  float: left;
  height: 44px;
  line-height: 44px;
}
#header #title {
  font-size: 2em;
  font-weight: bold;
}
#header #address {
  padding-left: 15px;
}
#container {
  position: absolute;
  float: left;
}
#container, #tweet_map {
  /*width: 47%;*/
  width: 100%;
}
#tweet_map {
  position: relative;
  float: right;
}
